<div class="container">
    <h2>User Settings</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" name="name" [(ngModel)]="userSettings.name" 
                required #nameField="ngModel" (blur)="onBlur(nameField)" [class.field-error]="form.submitted && nameField.invalid">
            <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">Enter a name</div>
        </div>

        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" name="emailOffers" id="emailOffers" [(ngModel)]="userSettings.emailOffers">
            <label class="form-check-label" for="emailOffers">
                Email Special Offers
            </label>
        </div>

        <p>User Interface Styles</p>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="lightInterface">
                    Light
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="MediumInterface" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="MediumInterface">
                    Medium
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="darkInterface">
                    Dark
                </label>
            </div>
        </div>

        <select class="form-select" aria-label="SubscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
            <option selected>Choose your subscription method</option>
            <option value="Monthly">Monthly</option>
            <option value="Annual">Annual</option>
            <option value="Lifetime">Lifetime</option>
        </select>


        <div class="form-floating">
            <textarea class="form-control" name="notes" id="floatingTextarea" rows="3" [(ngModel)]="userSettings.notes"></textarea>
            <label for="floatingTextarea">Notes</label>
        </div>

        <button class="btn btn-primary">Send</button>
    </form>
</div>